body {
    background-color: rgb(167, 184, 184);
}

.first {
    color: rgb(56, 250, 0);
    padding-top: 50px;
    text-align: center;
    font-size: 500%;
}

p {
    color: rgb(171, 255, 70) ;
    padding-bottom: 25px;
    text-align: center;
    font-size: 250%;
}

.second {
    color:rgb(255, 255, 255); 
    padding-top: 50px;
}

.project-tiles {
    color: rgb(133, 38, 130);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
    margin-right: -1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 25px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
    /*this is slightly modified from the FCC example*/
}

.project-image {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(133, 38, 130, .5);
    padding: 10%;

}

.project-titles {
    color: rgb(255, 255, 255);
    background-color: rgba(133, 38, 130, .5);
   font-size: 100%;
   display: flex;
   justify-content: start;
   padding: 5%;
}

#welcome-section {
    height: 25vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: -1px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(255, 255, 255);
    font-size: 150%;
    box-shadow: 0 4px 0 rgba(107, 107, 107, 0.5)
    /*I refrenced the code in the FCC example for how to do this. It was very helpful!*/
}

@media (max-width: 400px) {

}

.profile-link {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}
/*purple color code: color: rgb(133, 38, 130) */