body {
    background-color: rgb(167, 184, 184);
}

.first {
    color: rgb(56, 250, 0);
    padding-top: 50px;
}

p {
    color: rgb(171, 255, 70) ;
}

.second {
    color:rgb(255, 255, 255); 
}

.project-tile {
    color: black;
}

.h1 {
    padding: 5000px;
}
/*purple color code: color: rgb(133, 38, 130) */